<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Static folder:</h1>
    <ul>
        <li>
            <p>
                Static folder is by default public in flask.
            </p>
        </li>
        <li>
            <p>
                Static folder can be seen by anyone.
            </p>
        </li>
    </ul>

    <h1>
        Templates folder:
    </h1>
    <li>
        <p>
            Templates folder is by default private in flask.
        </p>
    </li>
    <li>
        <p>
            Templates folder cannot be seen by anyone.
        </p>
    </li>

</body>
</html>

